#PageTop {
  button {
    /* Property */
    //flex
    display: flex;
    justify-content: center;
    align-items: center;
    //design
    width: 30px;
    height: 30px;
    border: 1px solid lighten(lightgray, 10%);
    border-radius: 50%;
    background-color: white;

    /* Selector */
    &:hover {
      background-color: lighten(lightgray, 10%);
    }
  }
}
