.
    <aside>
        <s_sidebar> <!-- 사이드바1 -->
            <s_sidebar_element> <!-- 카테고리 -->
                <nav class="category">
                    [##_category_list_##]
                </nav>
            </s_sidebar_element>

            <s_sidebar_element> <!-- 태그 -->
                <div class="tags">
                    <s_random_tags>
                        <a href="[##_tag_link_##]">[##_tag_name_##]</a>
                    </s_random_tags>
                </div>
            </s_sidebar_element>
        </s_sidebar>
    </aside>