section
  //- ads upper
  | [##_revenue_list_upper_##]

  include section/list.pug
  include section/article.pug
  include section/guest.pug
  include section/paging.pug

  //- ads lower
  | [##_revenue_list_lower_##]
