doctype html
html
  head
    //- js
    script
      include javascript/javascript.js

    //- css
    style
      include style/style.css

    //- html
    include views/head.pug

  body(id="[##_body_id_##]")
    s_t3
      #app
      #appt
      include views/body.pug
