doctype html
html
  head
    //- html
    include views/Head.pug

    //- css
    style 
      include style/style.css

    //- js
    script 
      include javascript/javascript.js

  body 
    p hi~