doctype html
html
  head
    //- js
    script
      include javascript/javascript.js

    //- css
    style
      include style/style.css

    //- html
    include views/head.pug

  include views/body.pug
