doctype html
html
  head
    //- html
    include views/head.pug

    //- css
    style
      include style/style.css

    //- js
    script
      include javascript/javascript.js

  include views/body.pug
