/*
	[Declaration]
 	1_Import
 	2_Global Variables
	3_Global Mixin

	[Selector]
 	1_Reset
	2_Scroll Bar
 	3_Layout
	4_Body Type
 	5_Component

	[Media Screen]
	1_Retina Display and Other Displays

	[To Do List]
	# Z-index
	# Modularization
*/

/* ------------------------ [Declaration] ------------------------ */ //OK
/* 1_Import */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap'); //NanumGothicCoding
@import url('https://cdn.jsdelivr.net/gh/lumirlumir/cdn_font_nanumbarunpen@main/NanumBarunPen_light.css'); //NanumBarunPen

/* 2_Global Variables */
//font
$glb_font_NGC: ('Nanum Gothic Coding', monospace);
$glb_font_NBP: ('NanumBarunPen');
$glb_font: $glb_font_NBP, $glb_font_NGC;
//color
$glb_color_black: black;
$glb_color_white: white;
$glb_color_darkgray: #666666;
$glb_color_lightgray: lightgray;
//px
$glb_px_border-radius: 15px;

/* 3_Global Mixin */
//mixin_layout
@mixin glb_flex($_display: flex, $_flex: row, $_flow: nowrap, $_justify-content: space-between, $_align-items: center, $_align-content: space-between) {
  display: $_display;
  flex-flow: $_flex $_flow;
  justify-content: $_justify-content;
  align-items: $_align-items;
  align-content: $_align-content;
  @content;
}
//mixin_design
@mixin glb_icon {
  /* Import */
  @include glb_flex($_justify-content: center);

  /* Property */
  width: 30px;
  height: 30px;
  border: 1px solid lighten($glb_color_lightgray, 10%);
  border-radius: 50%;
  overflow: hidden;
  @content;
}
@mixin glb_box-shadow {
  box-shadow: 0 0 25px -10px $glb_color_lightgray;
  border-radius: $glb_px_border-radius;
  @content;
}
//mixin_animation
@mixin glb_hover1 {
  /* Property */
  transition: all 0.3s ease-in-out;

  /* Selector */
  &:hover {
    box-shadow: 0 0 25px -10px $glb_color_darkgray;
    transform: scale(1.01);
    @content;
  }
}
@mixin glb_hover2 {
  /* Property */
  transition: all 0.3s ease-in-out;

  /* Selector */
  &:hover {
    transform-origin: center;
    transform: rotateZ(5deg);
    @content;
  }
}

/* ------------------------ [Selector] ------------------------ */
/* 1_Reset */ //OK
:root {
  /* Declaration */
  @mixin font($_font-family: inherit, $_font-style: inherit, $_font-weight: inherit, $_font-size: 1em, $_color: inherit) {
    font: {
      family: $_font-family;
      style: $_font-style;
      weight: $_font-weight;
      size: $_font-size;
    }
    color: $_color;
    -webkit-text-size-adjust: 100%;
    @content;
  }

  /* Selector */
  * {
    margin: 0;
    padding: 0;
    appearance: none;
  }
  body {
    @include font($_font-family: $glb_font, $_font-style: normal, $_font-weight: normal, $_font-size: 1.05em, $_color: $glb_color_black);
  }
  h1 {
    @include font($_font-weight: bold, $_font-size: 2em);
    margin: 10px 0;
  }
  h2 {
    @include font($_font-weight: bold, $_font-size: 1.8em);
    margin: 8px 0;
  }
  h3 {
    @include font($_font-weight: bold, $_font-size: 1.6em);
    margin: 6px 0;
  }
  h4 {
    @include font($_font-weight: normal, $_font-size: 1.4em);
    margin: 4px 0;
  }
  h5 {
    @include font($_font-weight: normal, $_font-size: 1.2em);
    margin: 2px 0;
  }
  h6 {
    @include font($_font-weight: normal, $_font-size: 1em);
    margin: 0px 0;
  }
  a {
    @include font;
    text-decoration: none;
  }
  button {
    @include font;
    overflow: visible;
    cursor: pointer;
    border: none;
  }
  input {
    @include font;
  }
  nav,
  hgroup,
  details,
  menu,
  figure,
  figcaption {
    display: block;
  }
  ul li {
    list-style: none;
  }
}

/* 2_Scroll Bar */ //OK
:root {
  /* Variables */
  $sb_px_scrollbar: 10px !global;

  /* Selector */
  //Scroll Bar_Firefox
  & {
    scrollbar-width: $sb_px_scrollbar;
    scrollbar-color: $glb_color_lightgray $glb_color_white;
  }
  //Scroll Bar_Chrome, Edge, Safari
  &::-webkit-scrollbar {
    & {
      width: $sb_px_scrollbar;
      height: $sb_px_scrollbar;
    }
    &-track {
      background: $glb_color_white;
    }
    &-thumb {
      background-color: $glb_color_lightgray;
      border-radius: $glb_px_border-radius;
      border: 2px solid $glb_color_white;
    }
  }
}

/* 3_Layout */
#progress {
  //OK
  /* Declaration */
  //variables
  $prg_px_progress: 3px !global;
  //mixin
  @mixin bgc_width($_bgc, $_width) {
    background-color: $_bgc;
    width: $_width;
  }
  //keyframes
  @keyframes progress {
    0% {
      @include bgc_width($glb_color_darkgray, 0%);
    }
    50% {
      @include bgc_width($glb_color_lightgray, 50%);
    }
    100% {
      @include bgc_width($glb_color_darkgray, 100%);
    }
  }

  /* Property */
  animation: {
    delay: calc(var(--scrollRatio) * -1s);
    duration: 1s;
    fill-mode: both;
    iteration-count: 1;
    name: progress;
    play-state: paused;
    timing-function: ease-out;
  }
  //position
  position: fixed;
  height: $prg_px_progress;
  z-index: 500;
  //design
  border-radius: $glb_px_border-radius;
}
#wrap {
  /* Declaration */
  //variables
  $wrap_px_header_height: 70px !global;
  $wrap_vw_header_padding: 1vw !global;
  $wrap_vw_header_margin: 9vw !global;
  $wrap_px_sidebar_width: 250px !global;
  $wrap_px_footer_height: 40px !global;

  /* Property */
  //grid
  display: grid;
  grid-template-columns: $wrap_px_sidebar_width minmax(0, auto);
  grid-template-rows:
    $wrap_px_header_height minmax(calc(100vh - #{$wrap_px_header_height} - #{$wrap_px_footer_height}), auto)
    $wrap_px_footer_height;

  /* Selector */
  > header {
    //OK
    /* Import */
    @include glb_flex;
    @include glb_box-shadow;
    @include glb_hover1;

    /* Property */
    //grid
    grid: {
      row: 1/2;
      column: 1/3;
    }
    //position
    position: sticky;
    top: $prg_px_progress; //for sticky position.
    padding: 0 $wrap_vw_header_padding;
    margin: 0 $wrap_vw_header_margin;
    z-index: 500;
    //design
    background-color: $glb_color_white;

    /* Selector */
    > * {
      @include glb_flex;

      margin: 0 5px;
    }
    > .util {
      button {
        @include glb_icon;
      }
      > * {
        margin: 0 5px;
      }
      > #menu > button {
        display: none;
        background: transparent url(./images/ico_package.png) no-repeat -136.8px 9.1px;
        transform: rotateZ(90deg);
      }
      > #profile {
        img {
          width: 100%;
          height: 100%;
        }
        > nav {
          display: none;
          position: absolute;
          z-index: 30;
          width: 80px;
          margin-left: -25px;
          padding-top: 10px;

          > ul > li > a {
            display: block;
            background-color: $glb_color_white;
            text-align: center;
            font-size: 0.875em;
            line-height: 2rem;
            color: $glb_color_darkgray;

            &:hover {
              background-color: lighten($glb_color_lightgray, 10%);
            }
          }
        }
      }
      > #search {
        & {
          position: relative;
          width: 30px;
          transition: width 1s;

          &:before {
            content: '';
            position: absolute;
            z-index: 20;
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
          input {
            width: 30px;
            padding: 5px 15px;
            border: 0;
            font-size: 0.875em;
            outline: none;
            box-sizing: border-box;

            &::placeholder {
              color: $glb_color_lightgray;
            }
          }
          button {
            position: absolute;
            right: 0px;
            background: $glb_color_white url(./images/ico_package.png) no-repeat -1px -1px;
          }
        }
        &.on {
          width: 200px;

          &:before {
            content: none;
          }
          input {
            width: 100%;
            border: 1px solid lighten($glb_color_lightgray, 10%);
            border-radius: $glb_px_border-radius;
          }
        }
      }
    }
    > ul li {
      margin: 0 5px;
      &:hover {
        color: $glb_color_lightgray;
      }
    }
  }
  > section {
    //Yet
    /* Property */
    grid: {
      row: 2/3;
      column: 1/3;
    }

    /* Selector */
    .post- {
      //OK
      &cover {
        //OK
        /* Import */
        @include glb_box-shadow;

        /* Property */
        display: table;
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 20;
        background-color: transparent;
        background-position: 50%;
        background-size: cover;

        /* Selector */
        &:before {
          content: '';
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($glb_color_black, 0.5);
          border-radius: $glb_px_border-radius;
        }
        .inner {
          /* Property */
          display: table-cell;
          position: relative;
          z-index: 10;
          vertical-align: middle;
          text-align: center;
          color: $glb_color_white;

          /* Selector */
          .category {
            display: block;
            margin: 20px;
          }
          h1 {
            display: block;
          }
          .meta {
            /* Declaration */
            @mixin before {
              //center dot
              content: '';
              display: inline-block;
              width: 2px;
              height: 2px;
              margin: 0 5px;
              background-color: $glb_color_white;
              vertical-align: middle;
            }

            /* Property */
            display: block;
            margin: 20px;

            /* Selector */
            a {
              color: $glb_color_white;

              &:before {
                @include before;
              }
            }
            span {
              &:before {
                @include before;
              }
              &:first-child:before {
                content: none;
              }
            }
          }
        }
      }
      &header {
        //OK
        /* Import */
        @include glb_flex($_justify-content: center);

        /* Property */
        margin: 20px 30%;
        padding: 10px 0;
        border-bottom: 3px double;
        border-image: linear-gradient(to right, $glb_color_white, lighten($glb_color_lightgray, 10%), $glb_color_white);
        border-image-slice: 1;

        /* Selector */
        h1 {
          em {
            font-style: normal;
            color: $glb_color_lightgray;
          }
        }
      }
      &item {
        //OK
        /* Import */
        @include glb_box-shadow;
        @include glb_hover1;
        @include glb_hover2;

        /* Property */
        margin: 30px 1vw;
        width: 250px;
        height: 300px;
        overflow: hidden;

        /* Selector */
        a {
          /* Declaration */
          @mixin common_property {
            display: block;
            overflow: hidden;
            max-width: 100%;
            margin: 5px;
            text-overflow: ellipsis;
            text-align: center;
            line-height: 1.5rem;
          }

          /* Selector */
          .thum {
            /* Property */
            display: flex;
            align-items: center;
            width: 100%;
            height: 180px;
            margin-bottom: 5px;
            background-color: lighten($glb_color_lightgray, 15%);
            overflow: hidden;

            /* Selector */
            img {
              width: inherit;
            }
          }
          .title {
            @include common_property;

            white-space: nowrap;
          }
          .excerpt {
            @include common_property;

            display: -webkit-box;
            width: inherit;
            height: 50px;
            font-size: 0.8125em;
            color: $glb_color_darkgray;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .meta {
            @include common_property;

            font-size: 0.75em;
            color: $glb_color_lightgray;
          }
        }
      }
    }
    .not-found {
      //OK
      /* Property */
      display: block;
      margin: 20px 0;
      text-align: center;

      /* Selector */
      li {
        line-height: 2;
        color: $glb_color_darkgray;
      }
      .tag,
      .category {
        display: none;
      }
    }
    .entry-content {
      h1 {
        clear: both;
        margin: 29px 0 22px;
        font-size: 1.6875em;
        line-height: 1.5;
        color: #000;
      }
      h2 {
        clear: both;
        margin: 29px 0 22px;
        font-size: 1.5em;
        line-height: 1.5;
        color: #000;
      }
      h3 {
        clear: both;
        margin: 29px 0 22px;
        font-size: 1.3125em;
        line-height: 1.5;
        color: #000;
      }
      h4 {
        clear: both;
        margin: 29px 0 22px;
        font-weight: 400;
        font-size: 1.125em;
        line-height: 1.5;
        color: #000;
      }
      a {
        color: #04beb8;
      }
      p {
        margin-bottom: 32px;
        word-break: break-word;
        font-size: 0.9375em;
        line-height: 2;
        color: #555;

        img {
          max-width: 100%;
          height: auto;
        }
      }
      figure {
        margin-top: 8px !important;
      }
      pre {
        word-break: break-word;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      ul {
        list-style: disc;
        margin-bottom: 22px;
        padding: revert;

        li {
          position: relative;
          margin-bottom: 10px;
          font-size: 0.9375em;
          line-height: 1.5714;
          color: #666;
          list-style: inherit;
        }
      }
      ol {
        list-style: decimal inside;
        margin-bottom: 22px;

        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 16px;
          font-size: 0.9375em;
          line-height: 1.5714;
          color: #666;
          text-indent: -15px;
          list-style: inherit;
        }
      }
      img {
        &.alignleft {
          float: left;
          margin: 0 22px 22px 0;
        }
        &.aligncenter {
          display: block;
          margin: 0 auto 22px;
        }
        &.alignright {
          float: right;
          margin: 0 0 22px 22px;
        }
      }
      blockquote {
        margin-bottom: 40px;
        padding: 16px 20px;
        border-left: 4px solid #e6e6e6;

        p {
          margin: 22px 0 0;

          &:first-child {
            margin-top: 0;
          }
        }
      }
      > table {
        width: 100%;
        margin-bottom: 22px;
        border: 1px solid #e6e6e6;
        border-collapse: collapse;
        text-align: center;
        font-size: 0.8em;
        line-height: 1.5714;
        color: #666;

        thead th {
          font-size: 0.8em; /* modified */
          padding: 7px 0 11px;
          border-left: 1px solid #e6e6e6;
        }
        tbody td {
          font-size: 0.8em; /* modified */
          padding: 7px 0 11px;
          border-left: 1px solid #e6e6e6;
          border-top: 1px solid #e6e6e6;
        }
      }
      input {
        height: 36px;
        padding: 0 10px;
        border: 1px solid #e6e6e6;
        font-size: 0.875em;
        line-height: 1.25;
        color: #666;
        box-sizing: border-box;
        vertical-align: middle;
      }
      .entry-content {
        .protected_form {
          margin-bottom: 40px;
          padding: 120px 0 200px;
          border-bottom: 1px solid #7a583a;
          text-align: center;

          input {
            width: 200px;
            margin-bottom: 10px;
            vertical-align: top;
          }
        }
      }
      .cap1 {
        text-align: center;
        font-size: 0.875em;
        font-style: italic;
      }
      .iframe-wrap {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .protected_form {
        display: block;
        width: 100%;
        padding: 98px 0 120px;
        text-align: center;

        h2 {
          margin: 0 0 8px;
          font-weight: 600;
          font-size: 1.625em;
          line-height: 2.125rem;
          color: #555;
        }
        p {
          margin-bottom: 34px;
          font-weight: 300;
          font-size: 1em;
          line-height: 1.75;
          color: #999;
        }
        input {
          width: 183px;
          padding: 0 23px;
          border: 1px solid #eee;
          font-size: 0.9125em;
          line-height: 2.125rem;

          &:focus {
            border-color: #484848;
          }
        }
      }
    }
    .container_postbtn {
      margin: 53px 0 55px;
      padding: 0 !important;
    }
    .another_category {
      //Overwrite
      margin: 60px 0 57px !important;
      padding: 16px 20px 14px;

      h4 {
        margin: 0 0 13px !important;
        padding: 0 !important;
        border-bottom: 0 !important;
        font-size: 0.875em !important;
      }
      table {
        margin: 0 !important;
        border: 0;
      }
      th {
        padding: 2px 0 !important;
        font-size: 0.875rem !important;

        a.current {
          text-decoration: underline !important;
          font-weight: 400;
          color: #333 !important;
          border: 0 !important;
        }
      }
      td {
        padding: 2px 0 !important;
        border: 0;
        font-size: 0.75rem !important;
      }
    }
    .btn {
      //OK
      /* Property */
      display: inline-block;
      width: 100px;
      height: 36px;
      background-color: lighten($glb_color_lightgray, 0.15);
      text-align: center;
      vertical-align: middle;

      /* Selector */
      &:hover {
        background-color: $glb_color_darkgray;
      }
    }
    .pagination {
      //OK
      /* Declaration */
      @mixin prev_next($_background-position-x) {
        width: 22px;
        height: 22px;
        border: 1px solid $glb_color_lightgray;
        border-radius: 50%;
        text-indent: -999em;
        background: url(./images/ico_package.png) no-repeat $_background-position-x -50px;
      }

      /* Property */
      margin: 50px 0;
      text-align: center;

      /* Selector */
      a {
        display: inline-block;
        margin: 0 12px;
        color: $glb_color_lightgray;
      }
      .prev {
        @include prev_next(0px);
      }
      .next {
        @include prev_next(-50px);
      }
      .selected {
        color: $glb_color_black;
      }
    }
    .absent_post {
      padding: 98px 0 !important;
      background: none !important;
      font-weight: normal !important;
      font-size: 1em !important;
      line-height: 1.75;
      color: #999 !important;

      &:before {
        content: 'Not Found.';
        display: block;
        margin-bottom: 7px;
        font-weight: bold;
        font-size: 1.75em;
        line-height: 1.285714285714286;
        color: #555;
        white-space: pre;
      }
    }
  }
  > aside {
    //Yet
    /* Import */
    @include glb_flex($_flex: column, $_justify-content: flex-start, $_align-items: left);
    @include glb_box-shadow;
    @include glb_hover1;

    /* Property */
    //grid
    display: none;
    //scroll
    height: 100vh;
    width: $wrap_px_sidebar_width;
    position: fixed;
    overflow: hidden scroll;
    //position
    z-index: 30;
    background-color: $glb_color_white;

    /* Selector */
    //scroll bar
    &::-webkit-scrollbar {
      display: none;
    } //OK
    //others
    > * {
      margin: 10px 10px 20px 10px;
    }
    .category ul li {
      padding: 4px 0 5px;
      line-height: 1.25rem;
      color: #777;

      a {
        &:hover {
          color: #333;
        }
      }
      ul {
        //#wrap > aside .category ul li ul li:nth-child(1):before
        padding-top: 8px;

        li {
          padding: 6px 0 7px;
          font-weight: 400;
          font-size: 1em;

          ul {
            overflow: hidden;
            margin-bottom: -4px;
            padding-top: 6px;

            li {
              position: relative;
              padding: 3px 0 3px 9px;
              font-size: 0.8125rem;

              &:before {
                content: '';
                position: absolute;
                bottom: 7px;
                left: 0;
                width: 2px;
                height: 100%;
                background-color: #eee;
              }
              &:first-child:before {
                top: 7px;
                bottom: auto;
              }
              a {
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  > footer {
    //OK
    /* Import */
    @include glb_flex($_justify-content: flex-end);

    /* Property */
    grid: {
      row: 3/4;
      column: 1/3;
    }
    padding: 0 30px;
  }
}
#tool {
  /* Import */
  @include glb_flex($_justify-content: flex-end);

  /* Property */
  position: sticky;
  bottom: 60px; //for sticky position.
  padding: 0 60px;
  z-index: 500;
}

/* 4_Body Type */
#tt-body- {
  /* Declaration */
  @mixin wrap_section_article(
    $_selector: null,
    $_margin: (
      0 $wrap_vw_header_margin,
    )
  ) {
    #wrap > section article #{$_selector} {
      /* Import */
      @include glb_flex($_flow: wrap, $_justify-content: center);

      /* Property */
      margin: $_margin;

      /* Selector */
      .post-item {
        flex: 0 0 auto;
      }
    }
  }
  @mixin not-found($_selector) {
    .not-found {
      ul {
        display: none;
      }
      .#{$_selector} {
        display: block;
      }
    }
  }
  @mixin post-header($_before, $_after) {
    .post-header {
      span {
        &:before {
          content: $_before;
        }
        &:after {
          content: $_after;
        }
      }
    }
  }

  /* Selector */
  &index {
    //Home
    @include wrap_section_article;
  }
  &page {
    //OK Writing
    /* Import */
    @include wrap_section_article('.related-articles', 0);

    /* Selector */
    #wrap > section article {
      /* Property */
      margin: 0 (2 * $wrap_vw_header_margin);

      /* Selector */
      .post-cover {
        width: calc(100vw - #{$wrap_px_sidebar_width} - #{$sb_px_scrollbar});
        top: calc((-1) * #{$wrap_px_header_height});
        left: calc((-1) * 2 * #{$wrap_vw_header_margin});
      }
      .post-item {
        /* Property */
        margin: 10px 1%;
        width: 23%;
        height: 200px;

        /* Selector */
        .thum {
          /* Property */
          height: 120px;

          /* Selector */
          img {
            height: inherit;
          }
        }
      }
    }
  }
  &category {
    //OK Catergory Writing List
    @include wrap_section_article;
    @include not-found(category);
  }
  &tag {
    //OK Tag List
    @include wrap_section_article;
    @include not-found(tag);
    @include post-header('#', null);
  }
  &search {
    //OK Search Results
    @include wrap_section_article;
    @include post-header("'", "'");
  }
}
.sideMenu {
  #wrap {
    > header {
      grid: {
        row: 1/2;
        column: 2/3;
      }
    }
    > section {
      grid: {
        row: 2/3;
        column: 2/3;
      }
    }
    > aside {
      display: flex;
      grid: {
        row: 1/4;
        column: 1/2;
      }
    }
    > footer {
      grid: {
        row: 3/4;
        column: 2/3;
      }
    }
  }
}

/* 5_Component */
.tags {
  //OK
  /* Import */
  @include glb_flex($_flow: wrap, $_justify-content: flex-start);

  /* Selector */
  a {
    /* Import */
    @include glb_box-shadow;
    @include glb_hover1;

    /* Property */
    display: inline-block;
    margin: 3px 3px 3px 0;
    padding: 0 5px;
    border: 1px solid rgba($glb_color_lightgray, 0.15);
    font-size: 0.75em;
    line-height: 25px;
    vertical-align: middle;
    color: $glb_color_darkgray;
  }
}
.revenue_unit_wrap.position_list {
  //ADs
  max-width: 740px;
  margin: 30px auto;
}

/* ------------------------ [Media Screen] ------------------------ */
/* 1_Retina Display and Other Displays */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  //OK
  header .util #search:before,
  header .util #search button,
  .pagination .prev,
  .pagination .next,
  .comment-list ul li .author-meta .control button,
  .comment-form .secret input[type='checkbox']:checked + label:before {
    background-image: url(./images/ico_package_2x.png);
    background-size: 200px auto;
  }
}
@media screen and (max-width: (1366px + $sb_px_scrollbar)) {
  #wrap > header > .util > #menu > button {
    display: block;
  }
}
@media screen and (max-width: (1024px + $sb_px_scrollbar)) {
  #wrap {
    > header {
      margin: 0 ($wrap_vw_header_margin / 2);
    }
  }
}
@media screen and (max-width: (768px + $sb_px_scrollbar)) {
  #wrap {
    > header {
      margin: 0 0;
    }
  }
}
@media screen and (max-width: (480px + $sb_px_scrollbar)) {
  //Yet
}

/* Highlight.js */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #b5b5b5;
  border-right: 1px solid #b5b5b5;
  vertical-align: top;
  width: 20px;
  padding-left: 0px;
}
.hljs-ln td.hljs-ln-code {
  padding-left: 15px;
}
.entry-content pre code.hljs {
  padding: 10px;
  margin: 15px 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 9px;
  line-height: 140%;
}
pre > code {
  font-family: $glb_font_NGC !important;
  font-size: 12px !important;
  td {
    color: $glb_color_white !important;
  }
}
