body {
  /* Declaration */
  $px_scrollBar: 10px;
  $px_borderRadius: 15px;
  $px_border: 2px;
  $color_main: lightgray;
  $color_sub: white;

  /* Selector */
  //scrollBar_Firefox
  & {
    scrollbar-width: $px_scrollBar;
    scrollbar-color: $color_main $color_sub;
  }
  //scrollBar_Chrome Edge Safari
  &::-webkit-scrollbar {
    & {
      width: $px_scrollBar;
      height: $px_scrollBar;
    }
    &-track {
      background: $color_sub;
    }
    &-thumb {
      background-color: $color_main;
      border-radius: $px_borderRadius;
      border: $px_border solid $color_sub;
    }
  }
}
