article
  s_article_protected
    s_index_article_rep
      .
        <div class="post-item">
          <a href="[##_article_rep_link_##]">
            <span class="thum"></span>
            <span class="title">[##_article_rep_title_##]</span>
            <span class="excerpt">보호되어 있는 글 입니다.</span>
            <span class="meta">
              <span class="date">[##_article_rep_simple_date_##]</span>
            </span>
          </a>
        </div>

    s_permalink_article_rep
      .
        <div class="entry-content">
          <form class="protected_form" onsubmit="{reloadEntry(14);return false;}">
            <h2>보호되어 있는 글입니다.</h2>
            <p>내용을 보시려면 비밀번호를 입력하세요.</p>
            <input type="password" id="entry14password" name="entry14password" value="" placeholder="비밀번호">
            <button type="submit" class="btn">확인</button>
          </form>
        </div>

  s_article_rep
    s_index_article_rep
      .
        <div class="post-item">
          <a href="[##_article_rep_link_##]">
            <span class="thum">
              <s_article_rep_thumbnail>
                <img src="//i1.daumcdn.net/thumb/C300x300/?fname=[##_article_rep_thumbnail_raw_url_##]" alt="">
              </s_article_rep_thumbnail>
            </span>
            <span class="title">[##_article_rep_title_##]</span>
            <span class="excerpt">[##_article_rep_summary_##]</span>
            <span class="meta">
              <span class="date">[##_article_rep_simple_date_##]</span>
            </span>
          </a>
        </div>

      s_permalink_article_rep
        //- <div class="post-cover" <s_article_rep_thumbnail> style="background-image:url([##_article_rep_thumbnail_raw_url_##])" </s_article_rep_thumbnail>>
        .post-cover(style="background-image:url([##_article_rep_thumbnail_raw_url_##])")
          .
            <div class="inner">
              <span class="category">[##_article_rep_category_##]</span>
              <h1>[##_article_rep_title_##]</h1>
              <span class="meta">
                <span class="author">by [##_article_rep_author_##]</span>
                <span class="date">[##_article_rep_simple_date_##]</span>
                <s_ad_div>
                  <a href="[##_s_ad_m_link_##]">수정</a>
                  <a href="#" onclick="[##_s_ad_d_onclick_##]">삭제</a>
                </s_ad_div>
              </span>
            </div>

          .
            <div class="entry-content">
              [##_article_rep_desc_##]
            </div>

          .
            <s_tag_label>
              <div class="tags">
                [##_tag_label_rep_##]
              </div>
            </s_tag_label>

          .
            <s_article_related>
              <div class="related-articles">
                <s_article_related_rep>
                  <div class="post-item">
                    <a href="[##_article_related_rep_link_##]">
                      <span class="thum">
                        <s_article_related_rep_thumbnail>
                          <img src="//i1.daumcdn.net/thumb/C176x120/?fname=[##_article_related_rep_thumbnail_link_##]" alt="">
                        </s_article_related_rep_thumbnail>
                      </span>
                      <span class="title">[##_article_related_rep_title_##]</span>
                    </a>
                  </div>
                </s_article_related_rep>
              </div>
            </s_article_related>

          .
            <div class="comments">
                <h2>댓글<span class="count"><s_rp_count>[##_article_rep_rp_cnt_##]</s_rp_count></span></h2>
                <s_rp>
                    <s_rp_container>
                        <div class="comment-list">
                            <ul>
                                <s_rp_rep>
                                    <li id='[##_rp_rep_id_##]'>
                                        <div class="author-meta">
                                            <img src="[##_rp_rep_logo_##]" class="avatar" alt="">
                                            <span class="nickname">[##_rp_rep_name_##]</span>
                                            <span class="date">[##_rp_rep_date_##]</span>
                                            <span class="control">
                                                <button type="button">더보기</button>
                                                <div class="link">
                                                    <a href="[##_rp_rep_link_##]">댓글주소</a>
                                                    <a href="#" onclick="[##_rp_rep_onclick_delete_##]">수정/삭제</a>
                                                </div>
                                            </span>
                                        </div>

                                        <p>[##_rp_rep_desc_##]<br>

                                        <a href="#" onclick="[##_rp_rep_onclick_reply_##]" class="reply">답글</a></p>

                                        <s_rp2_container>
                                            <ul>
                                                <s_rp2_rep>
                                                    <li id='[##_rp_rep_id_##]'>
                                                        <div class="author-meta">
                                                            <img src="[##_rp_rep_logo_##]" class="avatar" alt="">
                                                            <span class="nickname">[##_rp_rep_name_##]</span>
                                                            <span class="date">[##_rp_rep_date_##]</span>
                                                            <span class="control">
                                                                <button type="button">더보기</button>
                                                                <div class="link">
                                                                    <a href="[##_rp_rep_link_##]">댓글주소</a>
                                                                    <a href="#" onclick="[##_rp_rep_onclick_delete_##]">수정/삭제</a>
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <p>[##_rp_rep_desc_##]</p>
                                                    </li>
                                                </s_rp2_rep>
                                            </ul>
                                        </s_rp2_container>
                                    </li>
                                </s_rp_rep>
                            </ul>
                        </div>
                    </s_rp_container>

                    <s_rp_input_form>
                        <div class="comment-form">
                            <s_rp_member>
                                <div class="field">
                                    <s_rp_guest>
                                        <input type="text" name="[##_rp_input_name_##]" placeholder="이름" value="[##_guest_name_##]">
                                        <input type="password" name="[##_rp_input_password_##]" maxlength="8" placeholder="비밀번호" value="[##_rp_admin_check_##]">
                                    </s_rp_guest>
                                    <div class="secret">
                                        <input type="checkbox" name="[##_rp_input_is_secret_##]" id="secret">
                                        <label for="secret" tabindex="0">비밀글</label>
                                    </div>
                                </div>
                            </s_rp_member>
                            <label for="[##_rp_input_comment_##]" class="screen_out">댓글</label>
                            <textarea id="[##_rp_input_comment_##]" name="[##_rp_input_comment_##]" cols="" rows="4" placeholder="여러분의 소중한 댓글을 입력해주세요."></textarea>
                            <div class="submit">
                                <button type="submit" class="btn" onclick="[##_rp_onclick_submit_##]">등록</button>
                            </div>
                        </div>
                    </s_rp_input_form>
                </s_rp>
            </div>
