.
    <s_paging>
        <div class="pagination">
            <a [##_prev_page_##] class="prev [##_no_more_prev_##]">이전</a>
            <s_paging_rep>
                <a [##_paging_rep_link_##]>[##_paging_rep_link_num_##]</a>
            </s_paging_rep>
            <a [##_next_page_##] class="next [##_no_more_next_##]">다음</a>
        </div>
    </s_paging>
