.ProgBar {
  /* Declaration */
  //variables
  $px_height: 3px;
  $px_borderRadius: 15px;
  $color_main: lighten(gray, 10%);
  $color_sub: lightgray;
  //mixin
  @mixin bgc_width($_bgc, $_width) {
    background-color: $_bgc;
    width: $_width;
  }
  //keyframes
  @keyframes progress {
    0% {
      @include bgc_width($color_main, 0%);
    }
    50% {
      @include bgc_width($color_sub, 50%);
    }
    100% {
      @include bgc_width($color_main, 100%);
    }
  }

  /* Property */
  animation: {
    delay: calc(var(--scrollRatio) * -1s);
    duration: 1s;
    fill-mode: both;
    iteration-count: 1;
    name: progress;
    play-state: paused;
    timing-function: ease-out;
  }
  //position
  position: fixed;
  height: $px_height;
  z-index: 500;
  //design
  border-radius: $px_borderRadius;
}
